APP_NAME=fullstack-forge-backend
APP_ENV=development
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
APP_API_V1_PREFIX=/api/v1
APP_ALLOWED_ORIGINS=["*"]
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fullstack_forge
