APP_NAME=fullstack-forge-backend
APP_ENV=test
APP_DEBUG=false
APP_HOST=127.0.0.1
APP_PORT=8000
APP_API_V1_PREFIX=/api/v1
APP_ALLOWED_ORIGINS=["http://localhost:3000"]
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/fullstack_forge_test
